- @listings.each do |element|
  .col-xs-12.listing
    %h3= element.title
    %span.date= element.created_at
    %span.category= element.category.name
    %br/
    .row
      .col-xs-2
        %a{href: listing_path(element)}
          = image_tag element.picture, width: 300, class: 'img-responsive'
      .col-xs-10
        %p= element.description
        .clearfix
          %br/
    = link_to t('contact'), new_user_session_path, class: "btn btn-primary pull-right", data: {do: 'showContactModal', user: "#{current_user.try(:id)}", id: element.id}
    .price
      €#{element.price}

= render partial: 'modals/contact'
