<div class='container'>
  <div class='row'>
    <div class='top'>
      <div class='col-xs-2'><h1 class='title'><a href='<%= root_path %>'>Listings</a></h1></div>
      <div class='col-xs-10 pull-right'>
        <a href="<%= new_listing_path %>" class="btn btn-success pull-right"><%= t('create_listing') %></a>
        <select class="form-control pull-right language" data-do='setLocale'>
          <% I18n.available_locales.each do |loc| %>
            <option value="<%= url_for(locale:loc.to_s) %>"
              <%= "selected" if I18n.locale == loc %>>
              <%= loc.upcase %>
            </option>
          <% end %>
        </select>
        <% if current_user %>
          <!-- account_contacts_path -->
          <a href='' class="my-account pull-right"><%= t('my_account') %></a>
        <%else %>
          <a href="/users/sign_in" class="my-account pull-right"><%= t('sign_in') %></a>
        <% end %>
        <% if current_user %>
          <a href='<%= destroy_user_session_path %>' class="logout pull-right" data-method='delete'><%= t('logout') %></a>
        <% end %>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</div>
